.header{
    display: flex;
    background-color: transparent;
    background: none;
    position: fixed;
    width: 100vW;
    top: 0;
    margin: 15px;
    margin-top: 7px;
    z-index: 100;
}

.header__logo{
    height: 24px;
    width: 100px;
    margin-top: 7px;
}

.header__center{
    flex: 1;
    display: flex;
    font-weight: 500;
    justify-content: center;
    margin-left: 3%;
}

.header__center>p{
    margin: 15px;
    /* text-transform: uppercase; */
}

.header__rignt{
    display: flex;
    font-weight: 500;
    justify-content: flex-end;
   margin-right: 3%;
    /* text-transform: uppercase; */
}

.header__rignt>p{
    margin: 10px;
}